# Caddyfile for serving a web map locally

{
	auto_https off
}

http://127.0.0.1:1234 {
	root * .
	
	# Add CORS headers to allow Maputnik to access resources
	header {
		Access-Control-Allow-Origin "*"
		Access-Control-Allow-Methods "GET, OPTIONS"
		Access-Control-Allow-Headers "Content-Type"
	}
	
	# Handle OPTIONS preflight requests
	@options method OPTIONS
	handle @options {
		respond 204
	}
	
	file_server
}
